/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2018, 1:14:59 PM
    Author     : Kevin F
*/
*{
    -fx-background-color: gray;
}
#map{
    -fx-image: url("../resources/mapa.png")
}